@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: asap;
    --primary-color: green;
    
}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    position:relative;
    overflow:scroll;

}

header {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    font-size: .75rem;
    width: 20vw;
    margin: 1.5rem;
}
button {
    font-size: .75rem;
    padding: .2rem .8rem;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
    transition: 300ms;
    background-color: var(--primary-color);
    color: white;
}

button:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

#new-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.form-row {
    display: flex;
    flex-direction: column;
}



.todo-container {
    display: flex;
    flex-direction: column;
    /* border: 1px white solid; */
    margin-bottom: 1rem;
}

.todo-card {
    border: 1px solid white;
    padding:.5rem;
    margin: .5rem;
    width: min(50vw, 250px)
}

.title,
.due-date,
.notes {
    /* background-color: #333; */
}

.title,
.description,
.priority,
.notes,
.category {
    margin: .5rem;
    padding: .5rem;
    background-color: #333;
}

.label {
    font-weight: bold;
    font-size: .7rem;
    color:gray;
    
}

.choose-category {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.red-button {
    background-color: red;
}

.current-list {
    font-size: 2rem;
    text-align: left;
    color: red;
}

.priority-low {
    color: skyblue;
}

.priority-medium {
    color: yellow;
}

.priority-high {
    color: red;
}

.spaced-buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.category-button {
    background-color: blue;
    font-size: 1.5rem;
}

.category-button:hover{
    background-color: lightblue;
    color: black;
}
